#bg-help-us{
    background: url('/assets/bg/spring-floral-bg.jpg') 100% center/cover no-repeat ;
    height: 760px;
}

.bg-help-us{
    
    padding: min(40%, 70px) 1rem;
    font-size: min(calc(2vw + .5rem), 3rem);
    color: #eee;
    text-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0);
    background: url('/assets/images/dejanos-ayudarte-hands.webp') 50% 50%/min(100%, 760px) no-repeat;
    background-attachment: 
        scroll,
        fixed,
        fixed;
    text-align: center;
}

.margin-auto{
    margin: 0.5rem auto;
}




/*FOOTER*/

.enlaces{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
    height: 1.5rem;
}

.enlaces a {
    position: relative;
    margin: 1rem;
    flex-wrap: wrap;

}

.social{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.social a {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
   margin: 0.5rem; 
   background-repeat: no-repeat;
   background-size: 1.5rem;
   filter: grayscale(90%) opacity(.8);
}
.facebook{
    background-image: url(../assets/icons/facebook-brands.svg);
}
.instagram{
    background-image: url(../assets/icons/instagram-brands.svg);
}
.linkedin{
    background-image: url(../assets/icons/linkedin-brands.svg);
}
.github{
    background-image: url(../assets/icons/github-brands.svg);
}

.copy{
    display: flex;
    justify-content: center;
}