

/* Reglas Generales */

/* Cabecera */

/* Main*/ 

.display-flex{
    display: flex;
    }
    .box {
    
    border: 1px solid black;
    background-color: green;
    margin: 1rem auto;
    width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  black;
    }
    .margin-auto{
        margin: 0.5rem auto;
    }
/*FOOTER*/
.footer-container{
    border: 0.5rem green solid;
    
}

.enlaces{
   
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
    height: 1.5rem;
    width: 30%;
}

.enlaces a {
    position: relative;
    margin: 1rem;
    flex-wrap: wrap;
  
}

.social{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.social a {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
   margin: 0.5rem; 
   background-repeat: no-repeat;
   background-size: 1.5rem;
   filter: grayscale(90%) opacity(.8);
}
.facebook{
    background-image: url(../assets/icons/facebook-brands.svg);
}
.instagram{
    background-image: url(../assets/icons/instagram-brands.svg);
}
.linkedin{
    background-image: url(../assets/icons/linkedin-brands.svg);
}
.github{
    background-image: url(../assets/icons/github-brands.svg);
}

.copy{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 2px;
    padding: 1rem;
}